.canteens-list h1 {
    font-weight: bold;
}

.canteens-list-item a {
    text-decoration: none;
}

.canteen-location {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: grey;
}

.canteen-working-hours {
    float: left;
    display: inline;
    color: grey;
}

.canteen-status-open {
    float: right;
    display: inline;
    padding: 2px 12px;
    border: 1px solid lightgreen;
    border-radius: 8px;
    color: lightgreen;
}

.canteen-status-closed {
    float: right;
    display: inline;
    padding: 2px 12px;
    border: 1px solid red;
    border-radius: 8px;
    color: red;
}